__pycache__
.idea
.vscode
.uuid
.uid
/data
/DATA
/cmake-build-debug
/build
/build-extra
/results
/logger
/figure

/script/DeepBiT/
/script/OptBit/
/script/SparseBit/

*.fvecs
*.ivecs
*.bin
*.png
*.html
*.pdf
*.pt
*.log
local_test*
